@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @screen md {
    .grid-template-grow-fixed {
      grid-template-columns: 1fr 312px;
    }
  }
}

/* fonts */

.navbar-anchor,
.accept-rodo-text {
  font-family: var(--font-roboto);
}

h1, h2, h3, h4 {
  font-family: var(--font-playfairDisplay);
}

p,
span {
  font-family: var(--font-roboto);
}

footer,
footer a,
footer p {
  font-family: var(--font-playfairDisplay);
}

.font-custom-serif {
  font-family: var(--font-playfairDisplay);
}

/* global */

body {
  @apply overflow-y-scroll;
}

.navbar-anchor {
  @apply mx-2 font-bold;
}

.separator {
  @apply my-3 border-b-2 border-secondary-300;
}

.contact-form-label {
  word-spacing: 3px;
}

.article-content {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.two-columns {
  column-count: 2;
  column-gap: 20px; /* Adjust the gap size as needed */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* kontakt form */
.invalid-field {
  border-color: red;
}

.valid-field {
  border-color: green;
}

/* checkmark */
.checkmark-container {
  position: relative;
  width: 28px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  animation: drawCheckmark 0.7s forwards;
  transform-origin: left;
}

.checkmark-green-animated {
  content: "";
  position: absolute;
  width: 28px;
  height: 12px;
  border-bottom: 4px solid #049f57;
  border-left: 4px solid #049f57;
  top: 21px;
  left: 10px;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  box-shadow: inset 1px 1px 1px white;
}

.checkmark-green-animated::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -4px;
  right: 0px;
  bottom: -4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.checkmark-green-animated::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -1px;
  right: 0px;
  bottom: -1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  z-index: 1;
}

@keyframes drawCheckmark {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
